body {
  background: white;
  margin:0;
  padding:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hide {
  display:none;
}

.container {
  max-width: 1000px;
  margin: 0px auto 0px auto;
}


h1 {
  text-align: center;
}
#entriesByMe, 
#entries {
  background-color:#fefaf8;
  padding: 10px 30px;
}
#entriesByMe h2, 
#entries h2{
  font-size:2rem;
}
#entriesByMe h2:hover,
#entries h2:hover{
  cursor:pointer;
}

#createEntryForm{
  background-color:#fefaf8;
  padding: 30px 30px 10px 30px;
} 

#createEntryForm label{
  font-size:1.3rem;
} 

#entriesByMe span,
#entries span{
  font-size:0.7rem;
  padding:10px;
}


main {
  padding: 1%;
}

h1 {
  color: #e74c3c;
}

nav {
  background-color:white !important;
}

nav ul li a {
  color:black;
}

.hero {
  position: relative;
  top: -40px;
  height:70vh;
  width:100%;
  background: url('https://images.unsplash.com/photo-1486394873570-0dcc34a874c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
}

.hero-content {
  position: relative;
  top:100px;
  z-index: 3;
}

.hero-content h2{
text-align:center;
font-size:3rem;
}